<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movie Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Imdb Movie Sentiment Analysis</h1>
        <form id="sentiment-form" class="mt-4">
            <div class="form-group">
                <label for="text">Enter text:</label>
                <textarea id="text" name="text" rows="4" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Analyze Sentiment</button>
        </form>
        <div id="result" class="mt-4 text-center"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('sentiment-form').addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the form from submitting the traditional way
            const text = document.getElementById('text').value;

            fetch('/predict', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ text: text })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').textContent = 'Sentiment: ' + data.sentiment;
                document.getElementById('result').className = data.sentiment === 'positive' ? 'text-success' : 'text-danger';
            });
        });
    </script>
</body>
</html> 


